.container
{
    text-align: center;
    margin-top: 20px;
    font-family: Arial;
}
table
{
    margin: auto;
}
input
{
    font-size: 30px;
    border: 2px solid rgba(54, 3, 3, 0.692);
    border-radius: 20px;
}
button
{
    font-size: 30px;
    background-color: rgba(186, 214, 205, 0.863);
    width: 92px;
    height: 50px;
    border-radius: 20px;
}
.cal
{
    display: inline-block;
    background-color: rgb(169, 104, 199);
    border: 2px solid rgba(7, 139, 128, 0.692);
    padding: 20px;
    margin: 8px;
    height: 100%;
    border-radius: 30px;
}